@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-family: "Raleway", sans-serif;
  --font-secondery:"Oxanium", sans-serif;
  --color-primary: #F95C19; 
  --color-section: #FFF7E6; 
}


@import "tailwindcss";